


  body {
  background-color: #f1fdf3;
  }

  h1{
    color: #1f4068;
  }

  h3{
    color: #0278ae;
  }


  hr {
  border-color: #d1e9d2;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  }
